$color-main-regular: #323264;
$color-main-alt: #46466E;
$color-main-soft:#686887;

$color-accent:#F0145A;

$color-active-regular: #24A3FF;
$color-active-hover: #0085FF;
$color-active-active:#006CCF;

$color-bg: #F5F5FA;
$color-bg-alt: #EDEDF7;
$color-text:#B3B3BA;
$color-separator:#E6E6F0;

