* {
  box-sizing: content-box;
}

.clearfix:before,
.clearfix:after {
  content: '';
  display: block;
  clear: both;
}

body {
  width: 1100px;
  height: 800px;
  background: #C4C4C4;
}

.first_conteiner {
  width: 1000px;
  height: 200px;
  background: #E6E6E6;
  margin: 50px;
}

.second_conteiner {
  width: 1000px;
  height: 200px;
  background: #E6E6E6;
  margin: 50px;
}

.third_conteiner {
  width: 1000px;
  height: 200px;
  background: #E6E6E6;
  margin: 50px;
}

/* {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 64px;
  line-height: 75px;
  text-align: center;
  color: #FFFFFF;
  padding: 63px
}*/

.first_conteiner div {
  width: 200px;
  height: 200px;
  background: #FC8F8F
}

.first_conteiner .first_card {
  float: left;
}

.first_conteiner .second_card {
  float: right;
}