img {
    height: 400px;
    width: 500px;
}

.image {
    background-color: rgb(211, 183, 238);
}
body {
    background-color: rgb(211, 183, 238);
}

ol {
    list-style: none;
}

div {
    border: solid 3px;
    border-color: rgb(36, 172, 172);
    margin-bottom: 2px
}

span {
    font-size: 30px;
}

.description {
    font-style: italic;
}
h1 {
    font-style: italic;
    color: rgb(224, 28, 28);
}
#git {
    font-size: 30px;
    color: rgb(224, 28, 28);
    font-style: italic;
}